@import '../../styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(color-fg);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(color-fg-heading);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }

  .logo-cern {
    display: block;
    background-image: url("../../../../assets/images/cern-logo.jpg");
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 60px;
    height: 60px;
  }
  
  .logo-dbod {
    display: block;
    background-image: url("../../../../assets/images/dbod-logo.png");
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    width: 66px;
    height: 60px;
  }
}
