table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.validate{
  color: white;
  background-color: #28a745;
}

.rescue{
  color: white;
  background-color: #006bd4;
}

.destroy{
  color: white;
  background-color: #f44336;
}

.disabled{
background-color: #0000001f;
}
