<nb-card>
    <form>
        <button type="button" class="btn btn-primary send-button">Submit</button>
        
        <div class="form-group">
            <select class="form-control select-file">
                <option>File 1</option>
                <option>File 2</option>
                <option>File 3</option>
            </select>
        </div>
     
        <div class="form-group">
            <textarea class="form-control file-edit-area"></textarea>
        </div>
    </form>
</nb-card>