<div style="padding-top: 30px" class="instance-list" >
    <ba-card title="Instances Overview" baCardClass="with-scroll" class="smart-table-container">
        <form>
            <div class="form-group">
                <input #search type="text" class="form-control form-control-rounded" placeholder="Search..." (input)="onSearch(search.value)">
            </div>
        </form>
        <ng2-smart-table *ngIf="source" [settings]="settings" [source]="source"></ng2-smart-table>
    </ba-card>
</div>