<mat-card *ngIf="data.hasOwnProperty('user') && this.authService.user.isAdmin!=undefined">
  <mat-card-header>
    <div mat-card-avatar>
      <button mat-icon-button name="state" matTooltip="{{ this.data['state'] }}" matTooltipPosition='above' [matMenuTriggerFor]="startStopMenu" [ngSwitch]="editedData.state">
        <mat-icon *ngSwitchCase="'RUNNING'" style="color:green;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'STOPPED'" style="color:red;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'MAINTENANCE'" style="color:blue;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'BUSY'" style="color:orange;">power_settings_new</mat-icon>
        <mat-icon *ngSwitchCase="'AWAITING_APPROVAL'" style="color:cyan;">power_settings_new</mat-icon>
      </button>
      <mat-menu #startStopMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="startStopInstance(true)"><mat-icon style="color:green;">play_arrow</mat-icon><span style="color:green;">Start</span></button>
        <button mat-menu-item (click)="startStopInstance(false)"><mat-icon style="color:red;">stop</mat-icon><span style="color:red;">Stop</span></button>
      </mat-menu>
    </div>
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="data.user!=null; else userMissing">{{ data.user.department }}-{{ data.user.group }} {{ data.user.first_name }} {{ data.user.last_name }}</span>
      <ng-template #userMissing><b>User informations are missing</b></ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="display:flex; justify-content: center;">
    <div class="flex-container">
      <mat-form-field class="field">
        <input matInput placeholder="Owner" name="owner" [(ngModel)]="editedData.owner" [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Egroup" name="egroup" [(ngModel)]="editedData.egroup" [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Project" name="project" [(ngModel)]="editedData.project" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Description" name="description" [(ngModel)]="editedData.description" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Creation date" name="creation_date" [(ngModel)]="editedData.creation_date" disabled (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Expiry date" name="expiry_date" [(ngModel)]="editedData.expiry_date" [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Type" name="type" [(ngModel)]="editedData.type" disabled (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput placeholder="Version" name="version" [(ngModel)]="editedData.version" [disabled]="!this.authService.user.isAdmin" (blur)="changeField($event.target.name,$event.target.value)" (keyup.enter)="$event.target.blur()">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-select matInput placeholder="Category" name="category" [(ngModel)]="editedData.category" [disabled]="!this.authService.user.isAdmin" (selectionChange)="changeField('category',$event.value)">
          <mat-option value="REF">REF</mat-option>
          <mat-option value="TEST">TEST</mat-option>
          <mat-option value="PROD">PROD</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox *ngIf="this.authService.user.isAdmin" name="notifications" [checked]="editedData.attributes.notifications=='true'" [disabled]="!this.authService.user.isAdmin" (change)="changeAttributeField('notifications',$event.checked)">Notifications</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 15px;">
  <ngb-tabset>
    <ngb-tab title="Logs">
      <ng-template ngbTabContent>
        <instance-logs [data]="data"></instance-logs>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Jobs" class="tabber">
      <ng-template ngbTabContent>
        <instance-jobs [data]="data"></instance-jobs>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Snapshots">
      <ng-template ngbTabContent>
        <instance-snapshots [data]="data" (instanceScheduledBackupSettingsChange)="loadData()"></instance-snapshots>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="File Editor">
      <ng-template ngbTabContent>
        <instance-file-editor [data]="data"></instance-file-editor>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Metadata Editor" *ngIf="data.hasOwnProperty('user') && this.authService.user.isAdmin!=undefined && this.authService.user.isAdmin">
      <ng-template ngbTabContent>
        <metadata-editor [data]="data"></metadata-editor>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</mat-card>
