<h2>Platform Status Overview</h2>

<iframe align="left" id="test1" src="https://dbod-mon.web.cern.ch/d-solo/ganH0E6zz/h?orgId=1&panelId=12&from=1527237048529&to=1527237948530" width="500" height="600" frameborder="0"></iframe>
<iframe align="right" id="test2" src="https://dbod-mon.web.cern.ch/d-solo/ganH0E6zz/h?orgId=1&panelId=12&from=1527237048529&to=1527237948530" width="500" height="600" frameborder="0"></iframe>

<iframe align="left" id="test3" src="https://dbod-mon.web.cern.ch/d-solo/ganH0E6zz/h?orgId=1&panelId=12&from=1527237048529&to=1527237948530" width="500" height="600" frameborder="0"></iframe>
<iframe align="right" id="test4" src="https://dbod-mon.web.cern.ch/d-solo/ganH0E6zz/h?orgId=1&panelId=12&from=1527237048529&to=1527237948530" width="500" height="600" frameborder="0"></iframe>