<div class="flex-container">
    <mat-form-field>
        <mat-select placeholder="File" [value]="selectedConfigFile.title">
            <div *ngIf="configFilesList.length!=0; else configFilesLoading">
                <div *ngFor="let item of configFilesList">
                    <mat-option [value]="item.title" (click)="selectConfigFile(item)">{{ item.title }}</mat-option>
                </div>
            </div>
            <ng-template #configFilesLoading>
                <mat-option><span style="font-style: italic">Loading...</span></mat-option>
            </ng-template>
        </mat-select>
    </mat-form-field>
    <div>
        <button mat-raised-button (click)="downloadConfigFile()" color="primary" style="margin-right: 10px">
            <mat-icon style="color: white">file_download</mat-icon>
            Download
        </button>
        <button mat-raised-button (click)="uploadConfigFile()" color="primary" style="width:122px">
            <mat-icon style="color: white;">publish</mat-icon>
            Upload
        </button>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!this.validate" (click)="submitChanges()">Submit changes</button>
    </div>
</div>
<div class="flex-container">
    <mat-form-field style="width: 100%;">
      <div *ngIf="this.validate==false">
        <i style="color: red">Invalid content file!</i>
      </div>
      <!--<div>
        <textarea id="text" spellcheck="false" matInput placeholder="Content" [(ngModel)]="displayedContent" (ngModelChange)="validateFile()" matTextareaAutosize></textarea>
      </div>-->
      <div>
      <!--  <textarea spellcheck="false" matInput placeholder="Content" [(ngModel)]="displayedContent" (ngModelChange)="validateFile()" matTextareaAutosize></textarea> -->
        <textarea [ngClass]="{red:displayedContent}" spellcheck="false" matInput placeholder="Content" [(ngModel)]="displayedContent" (ngModelChange)="validateFile()" matTextareaAutosize></textarea>
      </div>
      <div *ngIf="selectedConfigFile.title!=null && displayedContent==null">
        <i style="color: #00bcd4">Loading...</i>
      </div>
    </mat-form-field>
</div>
