<mat-card *ngIf="this.authService.user.isAdmin" style="margin-top: 15px;">
  <mat-card-header>
    Available Upgrades
  </mat-card-header>
  <div mat-card-avatar style="margin-top: 15px;">
    <button mat-icon-button matTooltip="Add upgrade" matTooltipPosition='above'>
      <mat-icon style="color: #28a745;">add</mat-icon>
      Add upgrade
    </button>
  </div>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="type" matSortDirection="asc">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>
        <ng-container matColumnDef="version_from">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Version from</th>
          <td mat-cell *matCellDef="let row"> {{row.version_from}} </td>
        </ng-container>
        <ng-container matColumnDef="version_to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Version to</th>
          <td mat-cell *matCellDef="let row"> {{row.version_to}} </td>
        </ng-container>
        <ng-container matColumnDef="destroy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destroy</th>
          <td mat-cell *matCellDef="let row">
            <button class="destroy" mat-raised-button>Destroy</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
