$default-text: #e9ebec;

.flex-container{
  display: flex;
  align-items: center;
  justify-content:: space-evenly;
  margin-top:2px;
  margin-bottom:10px;
}

pre span {white-space: normal;}
   .string { color: green; }
   .number { color: darkorange; }
   .boolean { color: blue; }
   .null { color: magenta; }
   .key { color: red; }