<div class="card">
	<p> Work in progress !</p>

	<div class="card-body">
    <canvas baseChart height="50" #baseChart="base-chart"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [colors]="barChartColors"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
	</div>

	<div class="flex-container">
		<form class="form-inline">
		  <div class="form-group">
		    <div class="input-group">
		      <input class="form-control" placeholder="yyyy-mm-dd"
		             name="dtmin" [(ngModel)]="tmin" (ngModelChange)="changeTimeBase()" ngbDatepicker #dmin="ngbDatepicker" style="margin-left: 10px">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="dmin.toggle()" type="button">
		          <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
		        </button>
		      </div>
		    
		      <input class="form-control" placeholder="yyyy-mm-dd"
		             name="dtmax" [(ngModel)]="tmax" (ngModelChange)="changeTimeBase()" ngbDatepicker #dmax="ngbDatepicker" style="margin-left: 10px">
		      <div class="input-group-append">
		        <button class="btn btn-outline-secondary" (click)="dmax.toggle()" type="button">
		          <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
		        </button>
		      </div>
		    </div>
		  </div>
		</form>

		<mat-slider
      [disabled]="false"
      [invert]="false"
      [max]="2"
      [min]="1"
      [step]="0.001"
      [thumbLabel]="false"
      [tickInterval]="false"
      [(ngModel)]="logn"
      (ngModelChange)="changeTimeBase()"
      [vertical]="false"
      style="width: 100%; margin-left: 10px">
  	</mat-slider>

		<button mat-raised-button color="primary" (click)="autoResize()" style="margin-left: 10px">Resize</button>
	</div>	
</div>