<div class="flex-container">
	<ngb-pagination [collectionSize]="this.numberOfItems/this.pageLength" [pageSize]="1" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event)" class="flex-left"></ngb-pagination>
	<div>
		<mat-form-field>
	    <mat-select placeholder="Items per page" (selectionChange)="changeItemsPerPage($event)">
	      <mat-option [value]="10">10</mat-option>
	      <mat-option [value]="20">20</mat-option>
	      <mat-option [value]="50">50</mat-option>
	      <mat-option [value]="100">100</mat-option>
	    </mat-select>
	  </mat-form-field>
	  <button mat-raised-button color="primary" (click)="statisticsCollapsed = !statisticsCollapsed" style="margin-left: 10px">Statistics</button>
	</div>
</div>

<div id="collapseStatistics" [ngbCollapse]="statisticsCollapsed">
  <instance-logs-statistics [data]="data"></instance-logs-statistics>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of this.source" (opened)="panelOpened()" (closed)="panelClosed()">
  	<mat-expansion-panel-header>
	    <mat-panel-title>
	      {{ item.timestamp_processed_in_logstash | date : 'medium' }}
	    </mat-panel-title>
	    <mat-panel-description>
	      {{ item.message }}
	    </mat-panel-description>
	  </mat-expansion-panel-header>
	  <prettyjson [obj]="item"></prettyjson> 
  </mat-expansion-panel>
</mat-accordion>