<div *ngIf="loading" class="loading-spinner">
	<mat-spinner [color]="primary"></mat-spinner>
</div>
<div class="flex-container">
	<mat-slide-toggle color="primary" [checked]=false (change)="realTimeHandler($event)" matTooltip='If enabled, logs are provided in real time' matTooltipPosition='above' style="margin-top: 15px"></mat-slide-toggle>

	<div class="flex-container">
		<button mat-icon-button [matMenuTriggerFor]="logFilesMenu" (click)="listLogFiles()" style="margin-top: 5px">
  		<mat-icon style="color: grey;">file_download</mat-icon>
  	</button>
  	<mat-menu #logFilesMenu="matMenu" overlapTrigger="false">
  		<div *ngIf="logFilesList.length!=0; else logFilesLoading">
  			<div *ngFor="let item of logFilesList">
  				<button mat-menu-item (click)="downloadLogFile(item)">{{ item.title }}</button>
		  	</div>
  		</div>
		  <ng-template #logFilesLoading>
  			<button mat-menu-item><span style="font-style: italic">Loading...</span></button>
  		</ng-template>
		</mat-menu>
		<ngb-pagination [collectionSize]="this.numberOfItems/this.pageLength" [pageSize]="1" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChanged($event)" style="margin-top: 8px"></ngb-pagination>
	</div>
	<div>
		<mat-form-field matTooltip='Example : "(restore OR backup) AND @timestamp:2018-05-20", please refer to ElasticSearch Query String' matTooltipPosition='above' style="width: 400px;">
			<input matInput placeholder="Filters" name="filters" (blur)="changeFilters($event.target.value)" (keyup.enter)="$event.target.blur()">
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
	    <mat-select placeholder="Items per page" (selectionChange)="changeItemsPerPage($event)">
	      <mat-option [value]="10">10</mat-option>
	      <mat-option [value]="20">20</mat-option>
	      <mat-option [value]="50">50</mat-option>
	      <mat-option [value]="100">100</mat-option>
	    </mat-select>
	  </mat-form-field>
	  <button mat-raised-button color="primary" (click)="statisticsCollapsed = !statisticsCollapsed" style="margin-left: 10px">Statistics</button>
	</div>
</div>

<div id="collapseStatistics" [ngbCollapse]="statisticsCollapsed">
  <instance-logs-statistics [data]="data"></instance-logs-statistics>
</div>

<mat-accordion>
	<mat-expansion-panel disabled>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="margin-left: 4em">Date</span>
      </mat-panel-title>
      <mat-panel-description>
              <span style="margin-left: 13em">Message</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let item of this.source" (opened)="panelOpened()" (closed)="panelClosed()">
  	<mat-expansion-panel-header>
	    <mat-panel-title>
	      <span style="width: 180px">{{ item['@timestamp'] | date : 'medium' }}</span>
	    </mat-panel-title>
	    <mat-panel-description>
	      <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.message }}</span> <!-- https://stackoverflow.com/questions/26019875/truncate-string-based-on-pixel-width -->
	    </mat-panel-description>
	  </mat-expansion-panel-header>
	  <prettyjson [obj]="item"></prettyjson>
  </mat-expansion-panel>
</mat-accordion>
