<div id="cern-toolbar">
  <div class="container-fluid">

    <h1><a href="http://home.cern" title="CERN">CERN <span>Accelerating science</span></a></h1>

    <ul class="cern-signedin">
      <li class="cern-accountlinks"><span>Signed in as: <a class="account" href="http://cern.ch/account" title="Signed in as Joe Bloggs (jbloggs)">jbloggs (CERN)</a> </span><a class="cern-signout" href="#" title="Sign out of your account">Sign out</a></li>
      <li><a class="cern-directory" href="http://cern.ch/directory" title="Search CERN resources and browse the directory">Directory</a></li>
    </ul>

  </div>
</div>